<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cheesetree.btx.project.simplefile.mapper.BtxFileArchiveResourceHisMapper">

    <resultMap id="BaseResultMap" type="top.cheesetree.btx.project.simplefile.model.bo.BtxFileArchiveResourceHisBO">
            <id property="lsh" column="LSH" jdbcType="BIGINT"/>
            <result property="sysId" column="SYS_ID" jdbcType="VARCHAR"/>
            <result property="fileOriName" column="FILE_ORI_NAME" jdbcType="VARCHAR"/>
            <result property="filePath" column="FILE_PATH" jdbcType="VARCHAR"/>
            <result property="fileStorage" column="FILE_STORAGE" jdbcType="BIGINT"/>
            <result property="fileType" column="FILE_TYPE" jdbcType="VARCHAR"/>
            <result property="fileStorageInfo" column="FILE_STORAGE_INFO" jdbcType="VARCHAR"/>
            <result property="fileHash" column="FILE_HASH" jdbcType="VARCHAR"/>
            <result property="isCrypto" column="IS_CRYPTO" jdbcType="VARCHAR"/>
            <result property="isPub" column="IS_PUB" jdbcType="VARCHAR"/>
            <result property="hisTime" column="HIS_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        LSH,SYS_ID,FILE_ORI_NAME,
        FILE_PATH,FILE_STORAGE,FILE_TYPE,
        FILE_STORAGE_INFO,FILE_HASH,IS_CRYPTO,
        IS_PUB,HIS_TIME
    </sql>
</mapper>
